<!--this is the page where the user selects the time frame to view the visualization-->

<!DOCTYPE html>
<html>
    <head>
        <title>Generic Team Visualization</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div style="display:block;">
            <select>
                <option>test1</option>
                <option>test2</option>
            </select>
            <select>
                <option>test1</option>
                <option>test2</option>
           </select>
       </div>
    </body>
</html>