.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: aquamarine;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box-element {
  width: 30%
}

.dataset-display {
  margin-top: 20%;
  margin-left: 10%
}

.gj-datepicker {
    align-self: center;
}