.topbar {
  width: 100%;
  padding: 10px;
  background-color: aquamarine;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box-element {
  width: 30%
}

.gj-datepicker {
    align-self: center;
}

rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;
}

text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

text.axis-workweek {
    fill: #000;
}

text.axis-worktime {
    fill: #000;
}


.nvtooltip {
    position: absolute;
    background-color: rgba(255,255,255,1);
    padding: 10px;
    border: 1px solid #ddd;
    overflow-y: visible;

    font-family: Arial;
    font-size: 13px;

    transition: opacity 500ms linear;
    -moz-transition: opacity 500ms linear;
    -webkit-transition: opacity 500ms linear;

    transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -webkit-transition-delay: 500ms;

    -moz-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
    -webkit-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
    box-shadow: 4px 4px 12px rgba(0,0,0,.5);

    -moz-border-radius: 15px;
    border-radius: 15px;
}

.nvtooltip h3 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.nvtooltip p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.nvtooltip span {
    display: inline-block;
    margin: 2px 0;
    text-align: center;
    overflow-y: auto;
}
